@import "../../vars.css";

.container {
  position: relative;
  padding: 3rem 10%;
  height: 100%;
  font-family: var(--font-w95);
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px var(--color-primary);
  }
  100% {
    text-shadow: 0 0 20px var(--color-secondary);
  }
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 11rem;
  gap: 25rem;
}
.projectsCarousel {
  position: relative;
  width: 800px;
  height: 500px;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  perspective: 1200px;
}

.projectCardWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform-origin: center center;
  transition: transform 0.6s ease, opacity 0.5s ease;
  transform: translate(-50%, -50%) rotateY(var(--angle, 0deg)) translateZ(500px);
  opacity: 0.4;
  pointer-events: none;
}

.projectCardWrapper.active {
  opacity: 1;
  z-index: 5;
  pointer-events: all;
  transform: translate(-50%, -50%) rotateY(0deg) translateZ(700px) scale(1.1);
}

.arrowButton {
  background: var(--color-primary);
  color: white;
  border: 2px solid var(--color-dark);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(87, 108, 188, 0.6);
  transition: all 0.2s ease;
}

.arrowButton:hover {
  background-color: var(--color-secondary);
  transform: scale(1.1) rotate(10deg);
}
