@import "../../vars.css";

.playerWindow {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 300px;
  background-color: var(--color-light);
  border: 2px solid var(--color-dark);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  font-family: var(--font-w95);
  border-radius: 6px;
  z-index: 999;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-accent);
  color: white;
  padding: 6px 10px;
}

.titleText {
  font-size: 1rem;
}

.windowButtons {
  display: flex;
  gap: 4px;
}

.btn {
  background-color: white;
  border: 1px solid black;
  font-size: 12px;
  width: 20px;
  height: 20px;
  cursor: default;
}

.playerContent {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.albumArt {
  width: 60px;
  height: 60px;
  border: 2px groove #444;
  background: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.playBtn {
  font-size: 1.3rem;
  font-family: var(--font-w95);
  font-weight: bold;
  background: linear-gradient(180deg, #f9fafb 0%, #e0e3e7 100%);
  color: var(--color-accent);
  border: 2px outset var(--color-dark);
  border-radius: 6px;
  padding: 6px 18px;
  margin-top: 4px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.13), 0 1px 0 #fff inset;
  cursor: pointer;
  transition:
    background 0.18s,
    color 0.18s,
    transform 0.13s,
    box-shadow 0.18s;
}

.playBtn:hover{
  background: linear-gradient(180deg, #e0e3e7 0%, #cfd2d6 100%);
}

.songTitle {
  font-size: 0.9rem;
  color: #333;
}
