@import "../../../vars.css";

.browserWindow {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: white;
  font-family: "Courier New", Courier, monospace;
  border: 2px solid var(--color-dark);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
}

.toolbar {
  display: flex;
  align-items: center;
  background: #d4d0c8;
  padding: 4px 6px;
  border-bottom: 2px groove #ccc;
}

.navButtons {
  display: flex;
  gap: 4px;
}

.navButtons button {
  font-size: 0.8rem;
  padding: 2px 6px;
  border: 1px solid black;
  background: #e0e0e0;
  cursor: pointer;
}

.addressBar {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1;
}

.addressBar label {
  font-weight: bold;
  font-size: 0.85rem;
}

.addressBar input {
  flex-grow: 1;
  padding: 2px 6px;
  font-family: inherit;
  font-size: 0.8rem;
  border: 1px inset #999;
  background-color: #fff;
  color: #111;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 12px 20px;
  background: #ffffff;
}

.content h1 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  border-bottom: 2px dotted gray;
}

.entry {
  margin-bottom: 1.5rem;
}

.entry h2 {
  font-size: 1.2rem;
  color: #003399;
  margin-bottom: 0.3rem;
  font-weight: bolder;
}

.role {
  font-style: italic;
  font-size: 1rem;
}

.entry h4 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.6rem;
}

.entry ul {
  padding-left: 1.2rem;
}

.entry li {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
  color: black;
}

.statusBar {
  background: #d4d0c8;
  padding: 4px 10px;
  font-size: 0.75rem;
  color: #222;
  font-style: italic;
  border-top: 2px inset #aaa;
}
