@import "./vars.css";

.desktop {
  background-image: url('https://i.redd.it/zge85fc9j0g11.jpg');
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  font-family: var(--font-w95);
}

.iconGrid {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  cursor: pointer;
  width: 80px;
}

.icon img {
  width: 100px;
  height: 100px;
  margin-bottom: -10px;
}

.window {
  background-color: var(--color-light);
  border: 2px solid var(--color-dark);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  font-family: var(--font-w95);
  position: relative;
}

.titleBar {
  background-color: var(--color-accent);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  height: 30px;
  flex-shrink: 0;
}

.titleBar button {
  background: white;
  border: 1px solid black;
  padding: 2px 8px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.windowContent {
  background: rgb(168, 168, 168);
  padding: 15px;
  overflow-y: auto;
  height: 100%;
}

.taskbar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 36px;
  width: 100%;
  background-color: #989FA2;
  border-top: 2px solid var(--color-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.startButton {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 6px;
  cursor: pointer;
}

.startButton img {
  height: 100%;
  max-height: 25px;
  object-fit: contain;
  image-rendering: pixelated;
}


.clock {
  color: black;
  font-size: 24px;
}

.bootScreen {
  background-color: black;
  color: lime;
  font-family: "VT323", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  animation: fadeIn 1s ease-out;
}

.bootLogo {
  width: 180px;
  margin-bottom: 20px;
  animation: glowPulse 2s infinite;
}

.bootText p {
  font-size: 1.5rem;
  margin: 0;
}

@keyframes glowPulse {
  0% {
    filter: drop-shadow(0 0 5px lime);
  }
  50% {
    filter: drop-shadow(0 0 15px lime);
  }
  100% {
    filter: drop-shadow(0 0 5px lime);
  }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
